nav{
  background-color: rgb(89, 89, 231);
  color: white;

 h1{
    text-align: center;
    padding-top: 10px;
    color: white;
  }
   a{
    padding: 105px;
    text-decoration: none;
    color: white;
  }
}