.example-container {
    width: 800;
    height: 500px;
    margin: 10px;
   // border: 1px solid #555;
  }
  .mat-list-item a{
    text-decoration: none;
  }
  .hom{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  // .image{
  //   float: right;
  //   width: 33.33%;
  //   padding: 5px;
  //   width: 29%;
  // }

.example-card {
    max-width: 400px;
    float: right;
    width: 33.33%;
    padding: 30px;
    width: 25%;
  }
  // .example-header-image {
  //    background-size: cover;
  // }
  .scratchimg{
    height: 293px;
  }
  